#map {
    height: 500px;
    width: 600px;
    border: 2px solid black;
}

.info-window p {
    margin: 0;
    padding: 0;
}

.error {
    text-align: center;
    color: red;
    font-size: 1.1em;
}

#directions {
    height: 400px;
}